body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #1300FF;
  }
  
  a:hover {
    color: #29231d;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*Header*/
  #header {
    background: #123850;
    transition: all 0.5s;
    z-index: 799;
    padding: 15px 0;
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
  }
  
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #99CDF3;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header .logo {
      font-size: 28px;
    }
  }
  
  /*Menu*/
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #ffffff;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #99CDF3;
  }
  
  /*Usuario*/
  .get-started-btn {
    margin-left: 22px;
    background: #1d84bb;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
  
  .get-started-btn:hover {
    background: #59b0df;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .get-started-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
  
  
  /******Hero******/
  #hero {
    width: 100%;
    height: 38vh;
    background-color: #eef0ef;
    background-size: cover;
    position: relative;
  }
  
  #hero .container {
    padding-top: 72px;
  }
  
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 62px;
    }
  }
  
  #hero h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h2 {
    color: #000000;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  /*Secciones en general*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #F8F8F8;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F7F7F7;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
  }
  
  /*Formulario*/
  #formulario {
    width: 100%;
    background-color: #fff;
    background-size: cover;
    position: relative;
  }
  
  .formulario .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .formulario .content ul {
    list-style: none;
    padding: 0;
  }
  
  .formulario .content ul li {
    padding-bottom: 10px;
  }
  
  .formulario .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
  }
  
  .formulario .content .learn-more-btn {
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
  
  .formulario .content .learn-more-btn:hover {
    background: #3ac162;
    color: #fff;
  }
  
  /*Footer*/
  #footer {
    color: #99CDF3;
    font-size: 14px;
    background: #1D4B6E;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 100px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #5fcf80;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #5fcf80;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #e0e5e2;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #5fcf80;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #3ac162;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: #3ac162;
    transition: 0.3s;
  }
  
  #footer .credits a:hover {
    color: #5fcf80;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #5fcf80;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #3ac162;
    color: #fff;
    text-decoration: none;
  }
  
  /******Hero******/
  #heroAsignacion {
    width: 100%;
    height: 35vh;
    background-color: #ffffff;
    background-size: cover;
    position: relative;
  }
  
  #heroAsignacion .container {
    padding-top: 72px;
  }
  
  @media (max-width: 992px) {
    #heroAsignacion .container {
      padding-top: 62px;
    }
  }
  
  #heroAsignacion h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
    font-family: "Poppins", sans-serif;
  }
  
  #heroAsignacion h2 {
    color: #000000;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    #heroAsignacion {
      height: 100vh;
    }
    #heroAsignacion h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #heroAsignacion h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  /*Clientes*/
  #heroClientes {
    width: 100%;
    height: 20vh;
    background-color: #ffffff;
    background-size: cover;
    position: relative;
  }
  
  #heroClientesn .container {
    padding-top: 72px;
  }
  
  @media (max-width: 992px) {
    #heroClientes .container {
      padding-top: 62px;
    }
  }
  
  #heroClientes h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
    font-family: "Poppins", sans-serif;
  }
  
  #heroClientes h2 {
    color: #000000;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    #heroClientes {
      height: 100vh;
    }
    #heroClientes h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #heroClientes h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  /*CRUD CLIENTES*/
  .btnEditar {
    margin-left: 22px;
    background: #000000;
    color: #fff;
    border-radius: 0px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 18px;
    display: inline-block;
  }
  
  .btnEditar:hover {
    background: #00aeff;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .btnEditar {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }

  .btnEliminar {
    margin-left: 22px;
    background: #868686;
    color: #fff;
    border-radius: 0px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 18px;
    display: inline-block;
  }
  
  .btnEliminar:hover {
    background: #ff0000;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .btnEliminar {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }

  .btnAgregarCliente {
    margin-left: 22px;
    background: #000000;
    color: #fff;
    border-radius: 0px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 18px;
    display: inline-block;
  }
  
  .btnAgregarCliente:hover {
    background: #29be03;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .btnAgregarCliente {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }

/*CRUD USUARIOS*/
.btnEditarUsuario {
  margin-left: 22px;
  background: #000000;
  color: #fff;
  border-radius: 0px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 18px;
  display: inline-block;
}

.btnEditarUsuario:hover {
  background: #00aeff;
  color: #fff;
}

@media (max-width: 768px) {
  .btnEditarUsuario {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

.btnEliminarUsuario {
  margin-left: 22px;
  background: #868686;
  color: #fff;
  border-radius: 0px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 18px;
  display: inline-block;
}

.btnEliminarUsuario:hover {
  background: #ff0000;
  color: #fff;
}

@media (max-width: 768px) {
  .btnEliminarUsuario {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

.btnAgregarUsuario {
  margin-left: 22px;
  background: #000000;
  color: #fff;
  border-radius: 0px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 18px;
  display: inline-block;
}

.btnAgregarUsuario:hover {
  background: #29be03;
  color: #fff;
}

@media (max-width: 768px) {
  .btnAgregarUsuario {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}