<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

  <header id="header" class="fixed-top">
    <%- include('partials/header'); %>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="heroAsignacion" class="d-flex justify-content-center align-items-center section-bg">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Asignación Servicio | Usuario Externo</h1>
      <hr>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    
    <section id="asignacion" class="asignacion">
      <div class="container">
        <form action="/addTurno" method="POST">
            <h5>Datos de asignación</h5>
            <div class="form-row">
              <% if(personal){ %>
              <div class="col-4 form-group col-form-label-sm">
                <label for="selectPersonal">Personal USAE (Atiende)</label>
                  <select id="selectPersonal" name="selectPersonal" class="form-control" title="Debe seleccionar un elemento en Personal USAE" required>
                    <option selected disabled value="">Seleccionar</option>
                    <% for(var i=0; i<personal.length; i++){%>
                    <option value="<%= personal[i].ID_USUARIO_PK %>"><%= personal[i].TXT_NOMBRE+' '+personal[i].TXT_APP+' '+personal[i].TXT_APM %></option>
                    <% } %>
                  </select> 
              </div>
              <% } %>

              <% if(servicio){ %>
              <div class="col-4 form-group col-form-label-sm">
                <label for="selectServicio">Servicio</label>
                  <select id="selectServicio" name="selectServicio" class="form-control" title="Debe seleccionar un elemento en Servicio" required>
                    <option selected disabled value="">Seleccionar</option>
                    <% for(var i=0; i<servicio.length; i++){ %>
                    <option value="<%= servicio[i].ID_SERVICIO_PK %>"><%= servicio[i].TXT_SERVICIO %></option>
                    <% } %>
                  </select> 
              </div>
              <% } %>

              <% if(cliente){ %>
                <div class="col-4 form-group col-form-label-sm">
                  <label for="selectCliente">Usuario Externo (Solicita)</label>
                    <select id="selectCliente" name="selectCliente"class="form-control" title="Debe seleccionar un elemento en Usuario" required>
                      <option selected disabled value="">Seleccionar</option>
                      <% for(var i=0; i<cliente.length; i++){ %>
                      <option value="<%= cliente[i].ID_CURP_PK %>"><%= cliente[i].TXT_NOMBRE+' '+cliente[i].TXT_APP+' '+cliente[i].TXT_APM %></option>
                      <% } %>
                    </select> 
                </div>
                <% } %>
            </div>

            <div class="form-group col-form-label-sm">
              <label for="detalles">Detalles de atención</label>
              <input type="text" id="detalles" name="detalles" placeholder="Ingrese los detalles de atención" class="form-control"/>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-6"><button class="btn btn-outline-primary btn-block btn-lg" type="submit" onclick="validarTurno()">Guardar</button></div>

              <div class="col-xs-6 col-md-6"><a href="/asig" class="btn btn-outline-danger btn-block btn-lg">Cancelar</a></div>
            </div>

        </form>
      </div>
    </section><!--Fin de Seccion Asignacion-->
  
  </main><!--Fin main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('partials/footer'); %>
    <script src="/js/validarTurno.js"></script> 
  </footer>

  <script src="js/main.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

</body>
</html>