<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>

  <header id="header" class="fixed-top">
    <%- include('partials/header'); %>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="heroAsignacion" class="d-flex justify-content-center align-items-center section-bg">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>ASIGNACIÓN DE SERVICIO</h1>
      <h2>Seleccione el tipo de usuario</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <div class="container">
      <div class="row">
        <a href="/servicios" class="btn btn-lg btn-block btn-outline-primary">Servicios por atender</a>
      </div>
    </div>
   
   
    <!--****Seccion Forumlario-->
    <section id="asignacion" class="asignacion">
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Usuarios Internos</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>Profesores</li>
                <li>Directores</li>
                <li>Supervisores</li>
              </ul>
              <div class="text-center">
                <a href="/asigInt" class="btn btn-lg btn-block btn-outline-primary">Seleccionar</a>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Usuarios Externos</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>Padres de familia</li>
                <li>ó</li>
                <li>Personas ajenas a la Institución</li>
              </ul>
              <div class="text-center">
                <a href="/asigExt" class="btn btn-lg btn-block btn-outline-primary">Seleccionar</a>
              </div>
            </div>
          </div>
        </div>

    </section>
    <!--Fin de Seccion Asignacion-->
    <% if (typeof alert !="undefined" ) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showCancelButton: true,
          focusConfirm: false,
          confirmButtonText:
            '<i class="fa fa-thumbs-up"></i><a href="/form"> Si, Contestar</a>',
          confirmButtonAriaLabel: '¡Contestar encuesta!',
          cancelButtonText:
            '<i class="fa fa-thumbs-down"></i>',
          cancelButtonAriaLabel: 'No Contestar'
        });
      </script>
      <% } %>

  </main>
  <!--Fin main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('partials/footer'); %>
  </footer>

</body>

</html>