<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

  <header id="header" class="fixed-top">
    <%- include('partials/header'); %>
  </header><!-- End Header -->
  <br>
  <br>
  <br>
  <div id="heroClientes" class="d-flex justify-content-center align-items-center section-bg" data-aos="zoom-in" data-aos-delay="100">
    <center><h1>CLIENTES</h1>
    <hr>
  </center>
  </div>

  <main id="main">
    <div class="container">
      <div clas="col" style="text-align: right;">
        <button id="btnAgregarCliente" type="Button" class="btn btnAgregarCliente" data-toggle="modal" data-target="#modalAcciones">Agregar</button>
      </div><br>
            <table id="tablaClientes" class="table-responsive" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>Curp</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Nombre</th>
                        <th>Calle</th>
                        <th>Colonia</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Sexo</th>
                        <th>Grado Estudio</th>
                        <th>Tipo Cliente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  <% results.forEach((cliente) => { %>
                    <tr>
                       <td><%= cliente.ID_CURP_PK %></td>
                       <td><%= cliente.TXT_APP %></td> 
                       <td><%= cliente.TXT_APM %></td> 
                       <td><%= cliente.TXT_NOMBRE %></td> 
                       <td><%= cliente.TXT_CALLE %></td>
                       <td><%= cliente.TXT_COL %></td>
                       <td><%= cliente.TXT_EMAIL %></td>
                       <td><%= cliente.TXT_CEL %></td> 
                       <td><%= cliente.TXT_SEXO %></td> 
                       <td><%= cliente.TXT_GRADO_ESTUDIO %></td>
                       <td><%= cliente.BIT_TIPO_CLIENTE %></td> 
                       <td>
                           <div class="text-center">
                             <div class="btn-group">
                              <a href="/editarCliente/<%= cliente.ID_CURP_PK %>" type="submit" class="btn btnEditar"><span class="iconify" data-icon="akar-icons:edit" data-inline="false"></span></a>
                              <a onclick="confirmar('<%= cliente.ID_CURP_PK %>')" type="submit" class="btn btnEliminar"><span class="iconify" data-icon="fluent-delete-16-filled" data-inline="false"></span></a>
                            
                              </div>
                           </div>
                       </td> 
                    </tr>
                  <% }) %>
                </tbody>
            </table>
    </div>

  
      <!--Modal-->
      <div class="modal fade" id="modalAcciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form id="formClientes" action="agregarCliente" method="POST">
                <div class="form-row">
                  <div class="col">
                    <label for="curp" class="col-form-label-sm">CURP:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Curp" id="curp" name="curp" maxlength="18" onkeyup="javascript:this.value=this.value.toUpperCase();"required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <label for="apePaterno" class="col-form-label-sm">Apellido paterno:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Apellido Paterno" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="apepat" name="apepat" required>
                  </div>
                  <div class="col">
                    <label for="apeMaterno" class="col-form-label-sm">Apellido materno:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Apellido Materno" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="apemat" name="apemat" required>
                  </div>
                  <div class="col">
                    <label for="nombre" class="col-form-label-sm">Nombre:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Nombre Completo" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="nombre" name="nombre" required>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="col">
                    <label for="calle" class="col-form-label-sm">Calle:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Calle" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="calle" name="calle" required>
                  </div>
                  <div class="col">
                    <label for="colonia" class="col-form-label-sm">Colonia:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Colonia" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="colonia" name="colonia" required>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="col">
                    <label for="correo" class="col-form-label-sm">Email:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Email" minlength="1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="El correo ingresado no tiene formato correcto" id="email" name="email" required>
                  </div>
                  <div class="col">
                    <label for="celular" class="col-form-label-sm">Celular:</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Número de Celular" maxlength="10" pattern="[0-9]+" title="El celular ingresado no tiene formato correcto" id="celular" name="celular" required>
                  </div>
                </div>
                <br>
                <div class="form-group col-form-label-sm">
                    <label for="sexo">Sexo:</label>
                      <select id="selectSexo" name="selectSexo" class="form-control form-control-sm" required>
                        <option value="" selected disabled>Seleccionar</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                      </select> 
                  </div>
                  <div class="form-group col-form-label-sm">
                    <label for="estudio">Grado de estudio:</label>
                      <select id="selectEstudio" name="selectEstudio" class="form-control form-control-sm" required>
                        <option value="" selected disabled>Seleccionar</option>
                        <option value="Preescolar">Preescolar</option>
                        <option value="Primaria">Primaria</option>
                        <option value="Secundaria">Secundaria</option>
                        <option value="Bachillerato">Bachillerato</option>
                        <option value="Preparatoria">Preparatoria</option>
                        <option value="Licenciatura">Licenciatura</option>
                        <option value="Ingenieria">Ingenieria</option>
                      </select> 
                  </div>
                  <div class="form-group col-form-label-sm">
                    <label for="tipoCliente">Tipo Cliente</label>
                      <select id="selectTipoCliente" name="selectTipoCliente" class="form-control form-control-sm" required>
                        <option value="" selected disabled>Seleccionar</option>
                        <option value="1">Interno</option>
                        <option value="0">Externo</option>
                      </select> 
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit"  onclick="validar()" class="btn btn-dark">Guardar</button>
            </div>
          </form>
          </div>
        </div>
      </div>

  </main><!--Fin main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('partials/footer'); %>
    <%- include('partials/editarClientes'); %>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <div id="cont1"></div>
  <% if (typeof alert != "undefined")  { %>
    <script>
    Swal.fire({
      title:'<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: '<%= showConfirmButton %>',
      timer: '<%= timer %>'
    }).then(()=>{
      window.location='/<%= ruta %>'
    })
    </script>
  <% } %>
  <script>
    function confirmar(id) {
    Swal.fire({
        title: '¿Realmente desea eliminar el registro: '+id+'?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {   
          window.location = '/eliminarCliente/'+id;                              
        }
    });
  };
   </script>
</body>
</html>