<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="styles.css" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
<nav class="navbar navbar-dark">      
  </nav>            
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active"><%= title %></a>
          </li>                           
        </ul>            
      </div>
    </div>
  </nav>
  <header id="header" class="fixed-top">
  </header><!-- End Header -->
  <br>
  <br>
  <br>
  <div id="heroClientes" class="d-flex justify-content-center align-items-center section-bg" data-aos="zoom-in" data-aos-delay="100">
    <center><h1><%= title %></h1>
    <hr>
  </center>
  </div>

  <main id="main">
      
      <% if (clientes) { %>
      <div class="container mt-4">          
        <div class="card border-secondary">  
              <div class="card-header">Editar Registro</div>
              <div class="card-body">
                  <form action="/updateCliente" method="POST">
                    <div class="form-row">
                      <div class="col">
                        <input type="text" class="form-control form-control-sm" placeholder="Curp" id="curp" name="curp" value="<%= clientes.ID_CURP_PK %>" hidden>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <label for="apePaterno" class="col-form-label-sm">Apellido paterno:</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Apellido Paterno" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="apepat" name="apepat" value="<%= clientes.TXT_APP %>" required>
                      </div>
                      <div class="col">
                        <label for="apeMaterno" class="col-form-label-sm">Apellido materno:</label>s
                        <input type="text" class="form-control form-control-sm" placeholder="Apellido Materno" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="apemat" name="apemat" value="<%= clientes.TXT_APM %>" required>
                      </div>
                      <div class="col">
                        <label for="nombre" class="col-form-label-sm">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre Completo" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="nombre" name="nombre" value="<%= clientes.TXT_NOMBRE %>" required>
                      </div>
                    </div>
                    <br>
                    <div class="form-row">
                      <div class="col">
                        <label for="calle" class="col-form-label-sm">Calle:</label>
                        <input type="text" class="form-control form-control-sm" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" placeholder="Calle" id="calle" name="calle" value="<%= clientes.TXT_CALLE %>" required>
                      </div>
                      <div class="col">
                        <label for="colonia" class="col-form-label-sm">Colonia:</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Colonia" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="colonia" name="colonia" value="<%= clientes.TXT_COL %>" required>
                      </div>
                    </div>
                    <br>
                    <div class="form-row">
                      <div class="col">
                        <input type="text" class="form-control form-control-sm" minlength="1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  title="El correo ingresado no tiene formato correcto" placeholder="Email" id="email" name="email" value="<%= clientes.TXT_EMAIL %>" hidden required>
                      </div>
                      <div class="col">
                        <label for="celular" class="col-form-label-sm">Celular:</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Número de Celular" minlength="10" maxlength="10" pattern="[0-9]+" title="El celular ingresado no tiene formato correcto" id="celular" name="celular" value="<%= clientes.TXT_CEL %>" required>
                      </div>
                    </div>
                    <br>
                    <div class="form-group col-form-label-sm">
                        <label for="sexo">Sexo:</label>
                          <select  name="selectSexo" class="form-control form-control-sm" required>
                            <option value="" selected disabled>Seleccionar</option>
                            <option <%= clientes.TXT_SEXO=='Femenino' ? "selected" : '' %> value="Femenino">Femenino</option>
                            <option <%= clientes.TXT_SEXO=='Masculino' ? "selected" : '' %> value="Masculino">Masculino</option>
                          </select> 
                      </div>
                      <div class="form-group col-form-label-sm">
                        <label for="estudio">Grado de estudio:</label>
                          <select  name="selectEstudio" class="form-control form-control-sm" required>
                            <option value="" selected disabled>Seleccionar</option>
                            <option <%= clientes.TXT_GRADO_ESTUDIO=='Preescolar' ? "selected" : '' %> value="Preescolar">Preescolar</option>
                            <option <%= clientes.TXT_GRADO_ESTUDIO=='Primaria' ? "selected" : '' %>  value="Primaria">Primaria</option>
                            <option <%= clientes.TXT_GRADO_ESTUDIO=='Secundaria' ? "selected" : '' %>  value="Secundaria">Secundaria</option>
                            <option <%= clientes.TXT_GRADO_ESTUDIO=='Bachillerato' ? "selected" : '' %>  value="Bachillerato">Bachillerato</option>
                            <option <%= clientes.TXT_GRADO_ESTUDIO=='Preparatoria' ? "selected" : '' %>  value="Preparatoria">Preparatoria</option>
                            <option <%= clientes.TXT_GRADO_ESTUDIO=='Licenciatura' ? "selected" : '' %>  value="Licenciatura">Licenciatura</option>
                            <option <%= clientes.TXT_GRADO_ESTUDIO=='Ingenieria' ? "selected" : '' %>  value="Ingenieria">Ingenieria</option>
                          </select> 
                      </div>
                      <div class="form-group col-form-label-sm">
                        <label for="tipoCliente">Tipo Cliente</label>
                          <select  name="selectTipoCliente" class="form-control form-control-sm" required>
                            <option value="" selected disabled>Seleccionar</option>
                            <option <%= clientes.BIT_TIPO_CLIENTE=='1' ? "selected" : '' %> value="1">Interno</option>
                            <option <%= clientes.BIT_TIPO_CLIENTE=='0' ? "selected" : '' %> value="0">Externo</option>
                          </select> 
                      </div>
                </div>                                                             
                      <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                      <a href="/client" class="btn btn-secondary">Cancelar</a>
                  </form>      
              </div>
          </div>     
    </div>
    <% } %>

  </main><!--Fin main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <script src="/js/editarClientes.js"></script>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
