<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="styles.css" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
<nav class="navbar navbar-dark">      
  </nav>            
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active"><%= title %></a>
          </li>                           
        </ul>            
      </div>
    </div>
  </nav>
  <header id="header" class="fixed-top">
  </header><!-- End Header -->
  <br>
  <br>
  <br>
  <div id="heroClientes" class="d-flex justify-content-center align-items-center section-bg" data-aos="zoom-in" data-aos-delay="100">
    <center><h1><%= title %></h1>
    <hr>
  </center>
  </div>

  <main id="main">
      
      <% if (user) { %>
      <div class="container mt-4">          
        <div class="card border-secondary">  
              <div class="card-header">Editar Usuario</div>
              <div class="card-body">
                  <form action="/updateUser" method="POST">
                    <div class="col">
                        <label for="id" class="col-form-label-sm">Id:</label>
                        <input type="text" id="id" name="id" class="form-control form-control-sm" placeholder="Id de usuario" value="<%= user.ID_USUARIO_PK %>" hidden>
                      </div>
                      <br>
                      <div class="col">
                        <label for="nombre" class="col-form-label-sm">Nombre:</label>
                        <input type="text" name="nombre" class="form-control form-control-sm" placeholder="Nombre Completo" value="<%= user.TXT_NOMBRE %>" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="nombre" required>
                      </div>
                      <br>
                      <div class="col">
                          <label for="apePaterno" class="col-form-label-sm">Apellido paterno:</label>
                          <input type="text" name="app"  class="form-control form-control-sm" placeholder="Apellido Paterno" value="<%= user.TXT_APP %>" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="app" required>
                        </div>
                        <br>
                        <div class="col">
                          <label for="apeMaterno" class="col-form-label-sm">Apellido materno:</label>
                          <input type="text" name="apm" class="form-control form-control-sm" placeholder="Apellido Materno" value="<%= user.TXT_APM %>" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="apm" required>
                        </div>
                        <br>
                        <div class="col">
                          <label for="correo" class="col-form-label-sm">Email:</label>
                          <input type="text" name="email" class="form-control form-control-sm" placeholder="Email" value="<%= user.TXT_EMAIL %>" minlength="1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  title="El correo ingresado no tiene formato correcto" id="email" required>
                        </div>
                        <br>
                        <div class="col">
                          <label for="tipoUsuario" class="col-form-label-sm">Tipo Usuario</label>
                            <select name="selectTipoUsuario" id="selectTipoUsuario" class="form-control form-control-sm" required>
                              <option selected disabled value="">Seleccionar</option>
                              <option <%= user.ID_TIPO_USUARIO_FK=='1' ? "selected" : '' %> value="1">Admin</option>
                              <option <%= user.ID_TIPO_USUARIO_FK=='2' ? "selected" : '' %> value="2">Personal</option>
                            </select> 
                        </div>
                        <br>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Guardar</button>
                    <a href="/users" class="btn btn-secondary">Cancelar</a>
                  </div>
                  </form>      
              </div>
          </div>     
    </div>
    <br><br>
    <% } %>

  </main><!--Fin main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <script src="/js/validarUsuario.js"></script>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>