<!DOCTYPE html>
<html lang="en">  
<head>
    <%- include('partials/head'); %>
</head>

<body>
  <header id="header" class="fixed-top">
    <%- include('partials/header'); %>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center section-bg">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>FORMULARIO DE ATENCIÓN </h1>
      <h2>Llene el siguiente formulario para evaluar la calidad del servicio</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!--****Seccion Forumlario-->
    <section id="formulario" class="formulario">

      <form action="/agregarFormulario" method="POST">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <input type="text" name="id_turno" id="id_turno" value="<%= data[0].ID_TURNO_PK %>" class="form-control" hidden>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Pregunta</th>
                <th colspan="3">Nivel de satisfacción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">¿Nuestro representante fue claro al momento de comunicarse con usted?*</th>
                <td>
                  <div class="col-12 form-group col-form-label-sm">
                      <select id="respuesta_1" name="respuesta_1" class="form-control" required>
                        <option value="" selected disabled>Seleccionar</option>
                        <option value=1>Satisfecho</option>
                        <option value=2>Regular</option>
                        <option value=3>Malo</option>
                      </select> 
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">¿Está satisfecho con la forma en que nuestro agente / representante de servicio al cliente atendió su consulta?*</th>
                <td>
                  <div class="col-12 form-group col-form-label-sm">
                      <select id="respuesta_2" name="respuesta_2" class="form-control" required>
                        <option value="" selected disabled>Seleccionar</option>
                        <option value=1>Satisfecho</option>
                        <option value=2>Regular</option>
                        <option value=3>Malo</option>
                      </select> 
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">¿Considera que nuestro representante fue cortés y profesional al momento de comunicarse con usted?*</th>
                 <td>
                  <div class="col-12 form-group col-form-label-sm">
                      <select id="respuesta_3" name="respuesta_3" class="form-control" required>
                        <option value="" selected disabled>Seleccionar</option>
                        <option value=1>Satisfecho</option>
                        <option value=2>Regular</option>
                        <option value=3>Malo</option>
                      </select> 
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" name="saveFormulario" class="btn btn-outline-primary btn-lg btn-block">Envíar</button>
        </div>
      </div>
    </form>
    </section><!--Fin de Seccion formulario satisfaccion-->

  </main><!--Fin main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
      <%- include('partials/footer'); %>
  </footer>
</body>
</html>
