<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

  <header id="header" class="fixed-top">
    <%- include('partials/header'); %>
  </header><!-- End Header -->

  <br><br><br><br>
  <section id="heroClientes" class="d-flex justify-content-center align-items-center section-bg">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>HISTORIAL DE SERVICIOS</h1>
      <hr>
    </div>
  </section>

  <main id="main">
    <div class="container">
        <form name="formHistServFilt" class="needs-validation" action="/histFilt" method="POST">
            <div class="form-row">
                <div class="col-md-3">
                    <h4>Área:*</h4>
                    <% if(areasSlt){ %>
                    <select id="selectArea" name="selectArea" class="form-control form-control-sm" onchange="asignarArea()" required>
                        <option disabled selected>Seleccionar Area...</option>
                        <% for(var i=0; i<areasSlt.length; i++){ %>
                            <option value="<%= areasSlt[i].ID_AREA_PK %>"><%= areasSlt[i].TXT_NOMBRE %></option>
                        <% } %>
                    </select>
                    <% } %>
                </div>
                <% let selectTipoVal = ["Mensual", "Bimestral", "Semestral"] %>
                <div class="col-md-3">
                    <h4>Tipo:*</h4>
                    <select id="selectTipo" name="selectTipo" class="form-control form-control-sm" onchange="cambiarTipo()" required>
                        <option disabled selected>Seleccionar Tipo de Reporte...</option>
                        <% for(var i=0; i<selectTipoVal.length; i++){ 
                            var Tipo =  selectTipoVal[i] %>
                            <option value="<%= i+1 %>"><%= selectTipoVal[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-md-3">
                    <h4>Periodo:*</h4>
                    <select id="selectPeriodo" name="selectPeriodo" class="form-control form-control-sm" required>
                        <option disabled selected>Seleccionar Periodo...</option>
                    </select>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <h4></h4>
                    <h4></h4>
                    <button class="btn btn-sm btn-outline-primary" type="submit">Aplicar Filtro</button>
                </div>
            </div>
        </form>
        <br>
        <br>
        <%
            if (filtro == 1){ 
        %>
                <%- include('histServicioFilt'); %>
        <%
            }else if(filtro == 2){
        %>
                <%- include('histServicioDetalles'); %>
        <%   
            }else{
        %>
            <%
                if (error == 'no'){ 
            %>
                <h4 class="text-info" style="text-align: center;">
                    <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                    No se ha seleccionado un filtro para los datos
                </h4>
            <%   
                }else if(error == 'todos'){
            %>
                <h4 class="text-warning" style="text-align: center;">
                    <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                    No se selecciono ningun filtro para los datos
                </h4>
            <%   
                }else if(error == 'tipoPeriodo'){
            %>
                <h4 class="text-warning" style="text-align: center;">
                    <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                    No se selecciono filtro para Tipo y Periodo
                </h4>
            <%   
                }else if(error == 'periodo'){
            %>
                <h4 class="text-warning" style="text-align: center;">
                    <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                    No se selecciono filtro para Periodo
                </h4>
            <%   
                }else if(error == 'areaPeriodo'){
            %>
                <h4 class="text-warning" style="text-align: center;">
                    <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                    No se selecciono filtro para Area y Periodo
                </h4>
            <%   
                }else if(error == 'area'){
            %>
                <h4 class="text-warning" style="text-align: center;">
                    <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                    No se selecciono filtro para Area
                </h4>
            <%   
                }else if(error == 'tipo'){
            %>
                <h4 class="text-warning" style="text-align: center;">
                    <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                    No se selecciono filtro para Tipo
                </h4>
            <%   
                }
            %>
            <br><br>
            <br><br>
        <%   
            }
        %>
    </div>

  </main><!--Fin main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('partials/footer'); %>
    <%- include('partials/histServicioFunciones'); %>
  </footer>


</body>
</html>