<% if(areaSel){ %>
<h4>
  Area Seleccionada: <p><%= areaSel %></p>
</h4>
<br><br>
<% } %>

<div class="table-responsive">
  <table id="tablaHistServicios" class="table table-striped table-condensed" style="width:100%">
    <thead class="text-center">
      <tr>
        <th>No. de Turno</th>
        <th>Servicio</th>
        <th>Atendio</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% if(servicios){ %>
      <% for(var i=0; i<servicios.length; i++){ %>
        <tr>
          <td><%= servicios[i].ID_TURNO_PK %></td>
          <td><%= servicios[i].TXT_SERVICIO %></td>
          <td><%= servicios[i].TXT_NOMBRE + ' ' + servicios[i].TXT_APP + ' ' + servicios[i].TXT_APM %></td>
          <%
            var mes = servicios[i].FCH_FECHA.getMonth();
            var mesReal = mes + 1;
            var fecha = servicios[i].FCH_FECHA.getDate() +'-'+ mesReal +'-'+ servicios[i].FCH_FECHA.getFullYear();
          %>
          <td><%= fecha %></td>
          <td><%= servicios[i].HRA_TURNO %></td>
          <td>
              <div class='btn-group'>
                <a id='btnDetalles' type='Button' class='btn btnDetalles' href="/histShow/<%= servicios[i].ID_TURNO_PK %>">
                  <span class='iconify' data-icon='mdi:eye' data-inline='false'></span>
                </a>
              </div>
          </td>
        </tr>
        <% } %>
      <% }else{ %>
        <td rowspan="6">
          <h4 class="text-warning" style="text-align: center;">
            <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
             No se encontraron resultados
        </h4>
        </td>
      <% } %>
    </tbody>
  </table>
</div>
<br>