<% if(serviciosDetalles){ %>
<div class="card">
    <% for(var i=0; i<serviciosDetalles.length; i++){ %>
    <div class="card-header">
        <h4>Detalles del Servicio No. <%= serviciosDetalles[i].ID_TURNO_PK %></h4>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Servicio:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].Servicio %></p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Área:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].Area %></p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Atendio:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].NombreP + ' ' + serviciosDetalles[i].AppPP + ' ' + serviciosDetalles[i].AppPM %></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Descripción:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].DSC_ASUNTO %></p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Estado:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].TXT_ESTADO %></p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Lugar:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].TXT_LUGAR %></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Fecha:</h5>
                    <%
                        var mes = serviciosDetalles[i].FCH_FECHA.getMonth();
                        var mesReal = mes + 1;
                        var fecha = serviciosDetalles[i].FCH_FECHA.getDate() +'-'+ mesReal +'-'+ serviciosDetalles[i].FCH_FECHA.getFullYear();
                    %>
                    <p class="card-text"><%= fecha %></p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Hora:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].HRA_TURNO %></p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Cliente:</h5>
                    <p class="card-text"><%= serviciosDetalles[i].NombreC + ' ' + serviciosDetalles[i].AppCP + ' ' + serviciosDetalles[i].AppCM %></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Evaluación:</h5>
                    <% 
                        if(serviciosDetalles[i].Satisf == 'Satisfecho'){
                    %>
                    <p class="card-text">
                        <span class="iconify" data-icon="ic:baseline-emoji-emotions" data-inline="false" style="color: rgb(0, 187, 0);"></span>
                        <%= serviciosDetalles[i].Satisf %>
                    </p>
                    <% 
                        }else if(serviciosDetalles[i].Satisf == 'Regular'){
                    %>
                    <p class="card-text">
                        <span class="iconify" data-icon="ic:baseline-mood" data-inline="false" style="color: orange;"></span>
                        <%= serviciosDetalles[i].Satisf %>
                    </p>
                    <% 
                        }else if(serviciosDetalles[i].Satisf == 'Malo'){
                    %>
                    <p class="card-text">
                        <span class="iconify" data-icon="ic:baseline-mood-bad" data-inline="false" style="color: red;"></span>
                        <%= serviciosDetalles[i].Satisf %>
                    </p>
                    <% 
                        }else if(serviciosDetalles[i].Satisf == null){
                    %>
                    <p class="card-text">
                        No existe
                    </p>
                    <% 
                        }
                    %>
                </div>
            </div>
        </div>
        <br>
        <a href="/hist" class="btn btn-primary">Limpiar</a>
    </div>
    <% } %>
</div>
<br><br><br><br>
<% }else{ %>
    <h4 class="text-warning" style="text-align: center;">
        <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
         No se ha seleccionado un filtro para los datos
    </h4>
    <br><br>
    <br><br>
<% } %>
