<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <header id="header" class="fixed-top">
    <%- include('partials/headerInicio'); %>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center section-bg">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Bienvenido</h1>
      <h2>Sistema turmatico <br> Mejora de Procesos e Informática de la Unidad de Servicios de Apoyo a la Educación
        (USAE) Dolores Hidalgo</h2>
    </div>
  </section><!-- End Hero -->

  <main id="">
    <br>
    <div class="container">
      <h1 class="text-center">Modulos</h1>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header"><h3>Clientes</h3></div>
            <div class="card-body">
              <p class="card-text">En este Modulo puede administrar los clientes de USAE - Dolores Hidalgo</p>
              <a href="/client" class="get-started-btn">Acceder</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header"><h3>Usuarios</h3></div>
            <div class="card-body">
              <p class="card-text">En este Modulo puede administrar los Usuarios de USAE - Dolores Hidalgo</p>
              <a href="/users" class="get-started-btn">Acceder</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header"><h3>Asignación de Servicios</h3></div>
            <div class="card-body">
              <p class="card-text">En este Modulo puede Asignar servicios a los clientes de USAE - Dolores Hidalgo</p>
              <br><br>
              <a href="/asig" class="get-started-btn">Acceder</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header"><h3>Historial de Servicios</h3></div>
            <div class="card-body">
              <p class="card-text">En este Modulo puede ver los servicios que se han realizado por cada area
                 y en un periodo especifico realizados por USAE - Dolores Hidalgo</p>
              <a href="/hist" class="get-started-btn">Acceder</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </main>
  <!--Fin main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('partials/footer'); %>
  </footer>

</body>

</html>