<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>

  <header id="header" class="fixed-top">
    <%- include('partials/header'); %>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="heroAsignacion" class="d-flex justify-content-center align-items-center section-bg">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Servicios por Atender</h1>
      <hr>
    </div>
  </section><!-- End Hero -->

  <main id="main"></main>

  <div class="container">
    <div class="table-responsive">
      <table id="tablaHistServicios" class="table table-striped table-condensed" style="width:100%">
        <thead class="text-center">
          <tr>
            <th>No. de Turno</th>
            <th>Fecha</th>
            <th>Status</th>
            <th>Hora registro</th>

          </tr>
        </thead>
        <tbody>
          <% if(servicios){ %>
            <% for(var i=0; i<servicios.length; i++){ %>
              <tr>
                <td>
                  <%= servicios[i].ID_TURNO_PK %>
                </td>

                <% var mes=servicios[i].FCH_FECHA.getMonth(); var mesReal=mes + 1; var
                  fecha=servicios[i].FCH_FECHA.getDate() +'-'+ mesReal +'-'+ servicios[i].FCH_FECHA.getFullYear(); %>
                  <td>
                    <%= fecha %>
                  </td>
                  <td>
                    <%= servicios[i].TXT_ESTADO %>
                  </td>
                  <td>
                    <%= servicios[i].HRA_TURNO %>
                  </td>
                  
              </tr>
              <% } %>
                <% }else{ %>
                  <td rowspan="6">
                    <h4 class="text-warning" style="text-align: center;">
                      <span class="iconify" data-icon="mdi:information-outline" data-inline="false"></span>
                      No se encontraron resultados
                    </h4>
                  </td>
                  <% } %>
        </tbody>
      </table>
    </div>


  </div>




  </main>
  <!--Fin main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('partials/footer'); %>
      <%- include('partials/histServicioFunciones'); %>
        <script src="/js/validarTurno.js"></script>
  </footer>

  <script src="js/main.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

</body>

</html>