<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

  <header id="header" class="fixed-top">
    <%- include('partials/header'); %>
  </header><!-- End Header -->

  <br><br>
  <section id="heroClientes" class="d-flex justify-content-center align-items-center section-bg">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <br><br><h1>USUARIOS USAE</h1>
      <hr>
    </div>
  </section>

  <main id="main">
    <div class="container">
        <div clas="col" style="text-align: right;">
          <button id="btnAgregarUsuario" type="Button" class="btn btnAgregarUsuario" data-toggle="modal" data-target="#modalUsuarioAdd">Agregar</button>
          </div><br>
        <div class="table-responsive">
            <table id="tablaUsuarios" class="table table-striped table-condensed" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Email</th>
                        <th>Tipo Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  <% results.forEach((user) => { %>
                    <tr> 
                       <td><%= user.ID_USUARIO_PK %></td>
                       <td><%= user.TXT_NOMBRE %></td> 
                       <td><%= user.TXT_APP %></td> 
                       <td><%= user.TXT_APM %></td> 
                       <td><%= user.TXT_EMAIL %></td> 
                       <td><%= user.ID_TIPO_USUARIO_FK %></td>
                       <td>
                        <a href="/editUser/<%= user.ID_USUARIO_PK %>" type="submit" class="btn btnEditarUsuario"><span class="iconify" data-icon="akar-icons:edit" data-inline="false"></span></a>
                          <a onclick="confirmar('<%= user.ID_USUARIO_PK %>')" id="btnEliminarUsuario" type="submit" class="btn btnEliminarUsuario"><span class="iconify" data-icon="fluent-delete-16-filled" data-inline="false"></span></a>
                       </td> 
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

  
      <!--Modal-->
      <div class="modal fade" id="modalUsuarioAdd" tabindex="-1"aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form id="formUsuarioAdd" action="addUser" method="POST">
                <div class="col">
                  <label for="id" class="col-form-label-sm">Id:</label>
                  <input type="text" id="id" name="id" class="form-control form-control-sm" placeholder="Id de usuario" minlength="1" maxlength="7" onkeyup="javascript:this.value=this.value.toUpperCase();"required>
                </div>
                <br>
                <div class="col">
                  <label for="nombre" class="col-form-label-sm">Nombre:</label>
                  <input type="text" name="nombre" class="form-control form-control-sm" placeholder="Nombre Completo" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="nombre" name="nombre" required>
                </div>
                <br>
                <div class="col">
                    <label for="apePaterno" class="col-form-label-sm">Apellido paterno:</label>
                    <input type="text" name="app"  class="form-control form-control-sm" placeholder="Apellido Paterno" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="app" name="app" required>
                  </div>
                  <br>
                  <div class="col">
                    <label for="apeMaterno" class="col-form-label-sm">Apellido materno:</label>
                    <input type="text" name="apm" class="form-control form-control-sm" placeholder="Apellido Materno" minlength="1" maxlength="50" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" title="Solo se aceptan letras" id="apm" name="apm" required>
                  </div>
                  <br>
                  <div class="col">
                    <label for="correo" class="col-form-label-sm">Email:</label>
                    <input type="text" name="email" class="form-control form-control-sm" placeholder="Email" minlength="1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="El correo ingresado no tiene formato correcto" id="email" required>
                  </div>
                  <br>
                  <div id="checkPass">
                  <div class="col">
                    <label for="password" class="col-form-label-sm">Password:</label>
                    <input type="password" name="pass" class="form-control form-control-sm" placeholder="Ingresar Password con letras y números" minlength="8" maxlength="8" pattern="[A-Za-z0-9]{8,8}" title="La contraseña no tiene un formato correcto" id="pass" required>
                  </div>
                  <br>
                  <div class="col">
                    <label for="password" class="col-form-label-sm">Confirmar Password:</label>
                    <input type="password" name="pass2" class="form-control form-control-sm" placeholder="Confirmar Password" minlength="8" maxlength="8" pattern="[A-Za-z0-9-]{8,8}" title="La contraseña no tiene un formato correcto" id="pass2" required>
                  </div>
                  </div>
                  <br>
                  <div class="col">
                    <label for="tipoUsuario" class="col-form-label-sm">Tipo Usuario</label>
                      <select name="selectTipoUsuario" id="selectTipoUsuario" class="form-control form-control-sm" required>
                        <option value="" selected disabled>Seleccionar</option>
                        <option value="1">Admin</option>
                        <option value="2">Personal</option>
                      </select> 
                  </div>
                  <br>
            </div>
            <div class="modal-footer">
              <a class="btn btn-light" data-bs-dismiss="modal">Cerrar</a>
              <button type="submit" onclick="validar()" class="btn btn-dark">Guardar</button>
            </div>
          </form>
          </div>
        </div>
      </div>

  </main><!--Fin main -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <% if (typeof alert != "undefined")  { %>
   <script>
   Swal.fire({
     title:'<%= alertTitle %>',
     text:'<%= alertMessage %>',
     icon:'<%= alertIcon %>',
     showConfirmButton:  '<%= showConfirmButton %>',
     timer: '<%= timer %>'
   }).then(()=>{
      window.location='/<%= ruta %>'
    })
   </script>
 <% } %>

   <script>
     function confirmar(id) {
    Swal.fire({
        title: '¿Confirma eliminar el registro: '+id+'?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {   
          window.location = '/deleteUser/'+id;                              
        }
    });
  };
   </script>
   
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('partials/footer'); %>
    <script src="/js/validarUsuario.js"></script>
  </footer>

</body>
</html>