<% if (typeof login === undefined){
    var login = false;
    if (login == false) { %>  
        <script>
          window.location='index'
        </script>   
    <%}
}else{
    if (login == false) { %>  
        <script>
          window.location='index'
        </script>   
    <%}
} %>
