
<div class="container d-flex align-items-center">
    <a href="/inicio" class="logo mr-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="nav-item"><a href="/asig">ASIGNACION SERVICIO</a>
        </li>
        <li class="nav-item"><a href="/hist">HISTORIAL SERVICIO</a>
        </li>
        <li class="nav-item"><a href="/client">CLIENTES</a>
        </li>
        <li class="nav-item"><a href="/users">USUARIOS</a>
        </li>
      </ul>
    </nav>
    <a href="#" disable name="user" class="get-started-btn"><span class="iconify" data-icon="carbon:user-avatar-filled-alt" data-inline="false"></span> <%= name %></a>
    <a href="logout" name="logout" class="get-started-btn">CERRAR SESIÓN</a>
  </div>
