<!DOCTYPE html>
<html lang="en">
<head>
	<title>Inicio Sesi&oacute;n STM</title>
	<link href="/img/STM_fav.png" rel="icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background: linear-gradient(#99CDF3, #1D4B6E); height: 640px;">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w" action="auth" method="POST">
					<span class="login100-form-title p-b-53">
						Inicio de Sesión
					</span>
					
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Usuario 
						</span>
					</div>
					<div class="wrap-input100 " >
						<input class="input100" type="text" name="user" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Contraseña
						</span>
					</div>
					<div class="wrap-input100 ">
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Iniciar Sesión
						</button>
					</div>
				</form>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <% if (typeof alert != "undefined")  { %>
    <script>
    Swal.fire({
      title:'<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: '<%= showConfirmButton %>',
      timer: '<%= timer %>'
    }).then(()=>{
      window.location='/<%= ruta %>'
    })
    </script>
  <% } %>

	</div>

  <script src="vendor/jquery/jquery-3.2.1.min.js" type='text/javascript'></script>
	<script src="js/main.js" type='text/javascript'></script>

</body>
</html>